.collection-page{
    width: 100%;
    // height: 100vh;

    display: flex;
    flex-direction: column;

    .collection-page-header{
        .collection-page-title{
            font-weight: bold;
            font-size: 28px;
        }
    }

    .collection-page-items{        
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-gap: 10px;

        .collection-item{
            width: 95%;
        }
    }
}