.cart-item {
  display: flex;
  flex-direction: row;
  margin: 5px 10px;
  padding: 5px;
  justify-content: flex-start;
  overflow: hidden;

  &:hover {
    background-color: #edfdfc;
    border-radius: 10px;
  }

  .cart-item-thumbnail {
    width: 35%;
    flex-shrink: 0;
  }

  .cart-item-info {
    padding: 10px;
    display: flex;
    flex-direction: column;
    flex-grow: 1;

    .cart-item-title {
      white-space: nowrap;
    }
  }
}
