.checkout-table-row{
    display: flex;
    align-items: center;

    padding: 10px;
    
    &:not(:last-child){
        border-bottom: 1px dotted #8e8e8e;
    }
}

.checkout-table-cell{    
    font-size: 1.2rem;
    width: 25%;
    // background-color: brown;
    margin: 0 3px;

    .checkout-table-cell-image{
        width: 120px;
        height: 140px;
    }

    &:last-child{
        width: 8%;   
        text-align: center;         
    }
}