.checkout-table-row {
  display: flex;
  align-items: center;

//   width: 65%;

  .checkout-table-cell {
    font-size: 1.2rem;
    width: 25%;
    // background-color: brown;
    margin: 0 3px;

    // padding: 0 10px;
    
    .checkout-table-cell-image {
      width: 90%;
      height: 120px;
      display: flex;
    //   justify-content: center;
    //   align-items: center;
    }

    &:first-child{
        width: 18%;
    }

    &:last-child {
      width: 8%;
      text-align: center;  

      span{
        cursor: pointer;
        }
    }
  }
}
