.checkout-table-row {
  display: flex;
  align-items: center;

  &:hover{
    background-color: #edfdfc;
    border-radius: 10px;
  }

  .checkout-table-cell {
    font-size: 1.2rem;
    width: 25%;
    margin: 0 3px;

    .checkout-table-cell-image {
      width: 90%;
      height: 120px;
      display: flex;
    }

    &:first-child {
      width: 18%;
    }

    &:last-child {
      width: 8%;
      text-align: center;
    }

    .delete-button:hover{
      color: #ff0000;
    }

    span {
      cursor: pointer;
    }
  }

  .quantity {
    display: flex;

    .decrease, .increase{
      cursor: pointer;      
    }
    .decrease:hover, .increase:hover{
      color: #039b8e;
    }
    .decrease {
      margin-right: 10px;      
    }
    .increase {
      margin-left: 10px;
    }    

    span {
      font-weight: bold;
    }
  }
}
