.collection-item {
    width: 22%;
    display: flex;
    flex-direction: column;
    height: 350px;
    align-items: center;
    position: relative;

    margin-bottom: 20px;

    &:hover{
      opacity: .8;

      #btn_addToCart {
        visibility: visible;
        opacity: .9;
      }      
    }
    
    .image {
      width: 100%;
      height: 95%;
      background-size: cover;
      background-position: center;
      margin-bottom: 5px;

      display: flex;
      flex-direction: column;
      justify-content: flex-end;      
    }    
  
    .collection-footer {
      width: 100%;
      height: 5%;

      display: flex;
      justify-content: space-between;
      font-size: 18px;
  
      .name {
        width: 90%;
        margin-bottom: 15px;
      }
  
      .price {
        width: 10%;
      }
    }
    
    #btn_addToCart {
      width: 80%;
      // margin: 20px auto;  
      position: absolute;
      bottom: 45px;
      visibility: hidden;
      opacity: .7;
    }
    #btn_addToCart:hover{
      outline: none;
      border-color: #9ecaed;
      box-shadow: 0 0 10px #9ecaed;      
    }
  }
  